{{fullscreen-hero}}
<div id="homeMainContent">
  <section id="indexRecruitment">
    Come Join the Club!
  </section>
  <section id="designBuildCode">
    <div class="frame">
      <div class="bit-3">
        <i class="fa fa-paint-brush"></i>
        <h1>Design</h1>
        <p>
          3D model and draw circuits.
        </p>
      </div>
      <div class="bit-3">
        <i class="fa fa-cogs"></i>
        <h1>Build</h1>
        <p>
          Solder, screw, and glue your creations together and
          build awesome robots together.
        </p>
      </div>
      <div class="bit-3">
        <i class="fa fa-terminal"></i>
        <h1>Code</h1>
        <p>
          Define the behavior of your robot and connect your creation
          to the internet.
        </p>
      </div>
    </div>
  </section>

  <section class="info-block">
    <div class="frame">
      <div class="bit-2">
        <h1>Learn about Robotics through our Workshops Series</h1>
        <p>
          Everything that we know and learn will be documented on our database.
          As the club grows, so does our knowledge. You know what they say,
          knowledge is power.
        </p>
      </div>
      <div class="bit-2">
        <img src="../imgs/workshopSeries.png">
      </div>
    </div>
  </section>

  <section class="info-block">
    <div class="frame">
      <div class="bit-2">
        <img src="../imgs/knowledgeBase.png">
      </div>
      <div class="bit-2">
        <h1>Access to our Comprehenive Knowledgebase</h1>
        <p>
          Everything that we know and learn will be documented and shared with our members.
          So as the club grows, so does our knowledgebase. From basic guides to
          comprehensive workshop docs, you'll have all our knowledge at your
          fingertips. You know what they say, knowledge is power.
        </p>
      </div>
    </div>
  </section>

  <section class="info-block">
    <div class="frame">
      <div class="bit-2">
        <h1>Contribute to Advance Projects</h1>
        <p>
          Take everything you learn and know, and apply it to our advanced projects. Anything from
          networking multiple robots with the internet to constructing our own BB-8 bot, we have stuff
          that will make even challenge the most seasoned robotician.
        </p>
      </div>
      <div class="bit-2">
        <img src="../imgs/advProjects.png">
      </div>
    </div>
  </section>

</div>
