{{fullscreen-hero}}
<div id="homeMainContent">
  {{#link-to 'signup' class="indexRecruitment" tagName="section"}}
    Come Join the Club!
  {{/link-to}}
  <section id="designBuildCode">
    <div class="frame">
      <div class="bit-3">
        <i class="fa fa-paint-brush"></i>
        <h1>Design</h1>
        <p>
          Learn to draw circuits and to shape 3D models and prototypes.
        </p>
      </div>
      <div class="bit-3">
        <i class="fa fa-cogs"></i>
        <h1>Build</h1>
        <p>
          Solder and screw your creations together, and
          build inventive and interesting robots.
        </p>
      </div>
      <div class="bit-3">
        <i class="fa fa-terminal"></i>
        <h1>Code</h1>
        <p>
          Define the behavior of your robot and connect your creation
          to the internet.
        </p>
      </div>
    </div>
  </section>

  <section class="info-block">
    <div class="frame">
      <div class="bit-2">
        <h1>Workshops Series, for the Win!</h1>
        <p>
          We hold different workshops throughout the year to help prime our
          members in the art of robotics and to help expand their interest and knowledge.
          From complete novice to seasoned expert, we have something for
          everyone.
        </p>
      </div>
      <div class="bit-2">
        <img src="../imgs/workshopSeries.png">
      </div>
    </div>
  </section>

  <section class="info-block">
    <div class="frame">
      <div class="bit-2">
        <img src="../imgs/knowledgeBase.png">
      </div>
      <div class="bit-2">
        <h1>Access to our Knowledgebase</h1>
        <p>
          Everything that we know and learn is documented and shared with all of
          our members online.
          So as the club grows, so does our knowledgebase. From basic guides to
          comprehensive workshop docs, you'll have all our knowledge at your
          fingertips. You know what they say: knowledge is power.
        </p>
      </div>
    </div>
  </section>

  <section class="info-block">
    <div class="frame">
      <div class="bit-2">
        <h1>Contribute to Advance Projects</h1>
        <p>
          Take everything you learn and know, and apply it to our advanced projects. Anything from
          networking multiple robots with the internet to constructing our own BB-8 bot, we have stuff
          that will even challenge the most seasoned robotician.
        </p>
      </div>
      <div class="bit-2">
        <img src="../imgs/advProjects.png">
      </div>
    </div>
  </section>

  {{#link-to 'signup' class="indexRecruitment" tagName="section"}}
    Come Join the Club!
  {{/link-to}}

  <footer id="homepageFooter">
    <div class="frame">
      <div class="bit-1">
        If you have any questions, please feel free to email untroboticsclub@gmail.com. Have a nice day!
      </div>
    </div>
  </footer>

</div>
