{{fullscreen-hero}}
<div id="homeMainContent">
  <section id="indexRecruitment">
    Come Join the Club!
  </section>
  <section id="designBuildCode">
    <div class="frame">
      <div class="bit-3">
        <i class="fa fa-paint-brush"></i>
        <h1>Design</h1>
        <p>
          3D model and draw circuits.
        </p>
      </div>
      <div class="bit-3">
        <i class="fa fa-cogs"></i>
        <h1>Build</h1>
        <p>
          Solder, screw, and glue your creations together and
          build awesome robots together.
        </p>
      </div>
      <div class="bit-3">
        <i class="fa fa-terminal"></i>
        <h1>Code</h1>
        <p>
          Define the behavior of your robot and connect your creation
          to the internet.
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="frame">
      <div class="bit-1">
        <h1>Learn about Robotics through our Workshops Series</h1>
      </div>
    </div>
  </section>

  <section>
    <div class="frame">
      <div class="bit-1">
        <h1>Access to our Comprehenive Knowledgebase</h1>
      </div>
    </div>
  </section>

  <section>
    <div class="frame">
      <div class="bit-1">
        <h1>Contribute to Advance Projects</h1>
      </div>
    </div>
  </section>

</div>
