$untGreen: #008E3D;
$untGreen3: #81BE3B;

body {
  // struct
  margin: 0;
  padding: 0;
  font-size: 14px;
  // style
  font-family: sans-serif;
  background: #efefef;
  font-family: 'Roboto', sans-serif;
}

#app-bar {
  z-index: 900;
  // struct
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  // style
  background: #434343;
  color: white;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);

  #app-bar-menu-toggle {
    // struct
    position: absolute;
    right: 0;
    width: 60px;
    top: 0;
    bottom: 0;
    // style
    button {
      // struct
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      // style
      border: none;
      background: #636363;
    }

    #app-bar-menu-icon {
        font-size: 24px;
        color: white;
    }
  }

  #app-bar-menu-list {
    // struct
    position: fixed;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(40, 40, 40, 0.95);
    overflow: auto;
    // style

    a {
      // struct
      display: block;
      text-align: center;
      padding: 20px;
      font-size: 16px;
      // style
      color:  #efefef;
      text-decoration: none;
      font-family: "Roboto Condensed", sans-serif;

      &:first-child {
        // struct
        margin-top: 10px;
        // style
      }

      &.active {
        // style
        color: $untGreen3;

        &:hover {
          color: $untGreen3;
        }
      }
      &:hover {
        color:  #ffffff;
      }
    }

  }

  #app-bar-logo {
    // struct
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    // style
    background-image: url("../imgs/RCAT_Logo1_200x60.png");
  }

  #app-bar-nav {
    // struct
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    right: 0;
    // style
    a {
      // struct
      float: left;
      height: 100%;
      padding: 20px 10px;
      box-sizing: border-box;
      font-size: 16px;
      // style
      color:  #efefef;
      text-decoration: none;
      font-family: "Roboto Condensed", sans-serif;

      &:first-child {
        // struct
        margin-left: 10px;
        // style
      }

      &.active {
        // style
        color: $untGreen3;

        &:hover {
          color: $untGreen3;
        }
      }
      &:hover {
        color:  #ffffff;
      }
    }
  }
}

#main-view {
  // struct
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  // style
}

.markdown-viewer-wrapper {
  // struct
  box-sizing: border-box;
  max-width: 100%;
  // style
}

.markdown-viewer-body {
  // struct
  box-sizing: border-box;
  // style
  background: white;
  max-width: 100%;
  word-wrap: break-word;
}

#constitution-iframe-wrapper {
  box-sizing: border-box;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

#constitution-iframe {
  // struct

  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;

  // style
  border:none;
  background: white;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
}


#guides-list {
  // struct
  // width: 100%;
  // max-width: 700px;
  // padding: 15px 15px 30px;
  // box-sizing: border-box;
  // background: white;
  // margin: 0 auto 15px;
  // // style
  // -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  // -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  // box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  &-item {
    // struct
    font-size: 18px;
    // style
    text-transform: capitalize;
    font-family: "Roboto Condensed", sans-serif;
    i {
      color: green;
      margin-right: 10px;
    }
     a {
       color: $untGreen;
       text-decoration: none;
     }
  }
}

.post-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.post-content {
  // struct
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
  padding: 15px 15px 30px;
  box-sizing: border-box;
  background: white;
  font-size: 16px;

  // style
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  color: #434343;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
  }

}

.hero-splash {
  z-index: 700;
  // struct
  height: 350px;
  width: 100%;
  position: relative;
  // style
  background: url("http://www.dentonrc.com/incoming/20140530-unt-administration.jpg.ece/BINARY/original/UNT+administration.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-splash-overlay {
  // struct
  width: 100%;
  height: 100%;
  // style
  background: RGBA(13, 142, 46, 0.65);
}

.hero-post-wrapper {
  z-index: 800;
  width: 100%;
  max-width: 700px;
  margin: -100px auto 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.hero-splash-title {
  // struct
  width: 100%;
  max-width: 700px;
  padding: 100px 30px 0;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  // style
  color: white;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}




// MOBILE CSS
@media all and (max-device-width: 650px) {
  .hero-post-wrapper {
    z-index: 800;
    width: 100%;
    max-width: 700px;

    padding: 0 10px;
    box-sizing: border-box;
  }

  .hero-splash {
    z-index: 700;
    // struct
    height: 200px;
    width: 100%;
    position: relative;
    // style
    background: url("http://www.dentonrc.com/incoming/20140530-unt-administration.jpg.ece/BINARY/original/UNT+administration.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-splash-title {
    padding-top: 30px;
    font-size: 30px;
  }
}


.guides-background {
  background: url("../imgs/motherboard.jpg");
}
