$untGreen: #008E3D;
$untGreen3: #81BE3B;
$roboBlack: #434343;

body {
  // struct
  margin: 0;
  padding: 0;
  font-size: 14px;
  // style
  font-family: sans-serif;
  background: #efefef;
  font-family: 'Roboto', sans-serif;
}

#app-bar {
  z-index: 900;
  // struct
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  // style
  background: #333;
  color: white;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);

  #app-bar-menu-toggle {
    // struct
    position: absolute;
    right: 0;
    width: 60px;
    top: 0;
    bottom: 0;
    // style
    button {
      // struct
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      // style
      border: none;
      background: #636363;
    }

    #app-bar-menu-icon {
        font-size: 24px;
        color: white;
    }
  }

  #app-bar-menu-list {
    // struct
    position: fixed;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(40, 40, 40, 0.95);
    overflow: auto;
    // style

    a {
      // struct
      display: block;
      text-align: center;
      padding: 20px;
      font-size: 16px;
      // style
      color:  #efefef;
      text-decoration: none;
      font-family: "Roboto Condensed", sans-serif;

      &:first-child {
        // struct
        margin-top: 10px;
        // style
      }

      &.active {
        // style
        color: $untGreen3;

        &:hover {
          color: $untGreen3;
        }
      }
      &:hover {
        color:  #ffffff;
      }
    }

  }

  #app-bar-logo {
    // struct
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    // style
    background-image: url("../imgs/RCAT_Logo1_200x60.png");
  }

  #app-bar-nav {
    // struct
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    right: 0;
    // style
    a {
      // struct
      float: left;
      height: 100%;
      padding: 20px 10px;
      box-sizing: border-box;
      font-size: 16px;
      // style
      color:  #efefef;
      text-decoration: none;
      font-family: "Roboto Condensed", sans-serif;

      &:first-child {
        // struct
        margin-left: 10px;
        // style
      }

      &.active {
        // style
        color: $untGreen3;

        &:hover {
          color: $untGreen3;
        }
      }
      &:hover {
        color:  #ffffff;
      }
    }
  }
}

#main-view {
  // struct
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  // style
}

.max-width-height {
  width: 100%;
  height: 100%;
}

.app-bar-float-container {
  // struct
  float: right;
  // style

  &:last-child {
    // struct
    padding-right: 15px;
    // style
  }
}

.markdown-viewer-wrapper {
  // struct
  box-sizing: border-box;
  max-width: 100%;
  // style
}

.markdown-viewer-body {
  // struct
  box-sizing: border-box;
  // style
  background: white;
  max-width: 100%;
  word-wrap: break-word;
}

#constitution-iframe-wrapper {
  box-sizing: border-box;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

#constitution-iframe {
  // struct

  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;

  // style
  border:none;
  background: white;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
}


#guides-list {
  // struct
  // width: 100%;
  // max-width: 700px;
  // padding: 15px 15px 30px;
  // box-sizing: border-box;
  // background: white;
  // margin: 0 auto 15px;
  // // style
  // -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  // -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  // box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  &-item {
    // struct
    font-size: 18px;
    // style
    text-transform: capitalize;
    font-family: "Roboto Condensed", sans-serif;
    i {
      color: green;
      margin-right: 10px;
    }
     a {
       color: $untGreen;
       text-decoration: none;
     }
  }
}

.post-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.post-content {
  // struct
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
  padding: 15px 15px 30px;
  box-sizing: border-box;
  background: white;
  font-size: 16px;

  // style
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  color: #434343;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
  }

}

.hero-splash {
  z-index: 700;
  // struct
  height: 350px;
  width: 100%;
  position: relative;
  // style
  background: url("../imgs/unt_mall_optimized.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-splash-overlay {
  // struct
  width: 100%;
  height: 100%;
  // style
  background: RGBA(13, 142, 46, 0.65);
}

.hero-post-wrapper {
  z-index: 800;
  width: 100%;
  max-width: 700px;
  margin: -100px auto 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.hero-splash-title {
  // struct
  width: 100%;
  max-width: 700px;
  padding: 100px 30px 0;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  // style
  color: white;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.post-section {
  border-bottom: #c4c4c4 1px dashed;
  padding: 15px 0;

  &:last-child {
    border-bottom: none;
  }
}

.guide-listing-title {
  // struct
  font-size: 20px;
  // style
  font-family: "Roboto Condensed", sans-serif;
}

.guide-listing-est-read-time {
  font-size: 14px;
}

.guide-listing-logo {
  float: left;
  font-size: 25px;
  padding-right: 10px;
}

.guide-listing-info {
  width: 100%;
  min-height: 25px;
}

.guide-listing {
  padding: 15px 0;
  border-bottom: #c4c4c4 thin dashed;
  display: block;
  color: $roboBlack;
  text-decoration: none;
}

// MOBILE CSS



.guides-background {
  background: url("../imgs/motherboard.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.hero-post-component {
  // struct
  width: 100%;
  height: 350px;
  // style
  background: url("http://nelsonengrco.com/wp-content/uploads/2014/03/MEMS-Banner-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-overlay {
    // struct
    height: 100%;
    width: 100%;
    // style
    background: RGBA(13, 142, 46, 0.65);
  }

  &-title {
    // struct
    width: 100%;
    max-width: 700px;
    padding: 100px 30px 0;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    // style
    color: white;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
  }

  &-paper {
    // struct
    z-index: 800;
    width: 100%;
    max-width: 700px;
    margin: -100px auto 0;
    padding: 0 10px;
    box-sizing: border-box;
    // style
  }

  &-content {
    // struct
    margin: 0 auto;
    width: 100%;
    min-height: 400px;
    padding: 15px 15px 30px;
    box-sizing: border-box;
    background: white;
    font-size: 16px;

    // style
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
    color: #434343;

    h1, h2, h3, h4, h5, h6 {
      font-family: "Roboto Condensed", sans-serif;
    }
  }
}


.fullscreen-hero {
  // struct
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // style
  // background: url("../imgs/motherboard.jpg");

  &-video {

    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    // background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    // background-size: cover;
    overflow: hidden;

    video {
      position: absolute;
      top: 50% !important;
      left: 50% !important;
      min-width: 100% !important;
      min-height: 100% !important;
      width: auto !important;
      height: auto !important;
      z-index: -100 !important;
      transform: translateX(-50%) translateY(-50%) !important;
      // background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
      // background-size: cover;
      transition: 1s opacity !important;
    }
 }

  &-overlay {
    // struct
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // style
    // background: RGBA(13, 142, 46, 0.90);
    background: RGBA(0, 0, 0, 0.45);
  }

  &-title {
    // struct
    position: absolute;
    right: -200px;
    bottom: -146px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
    height: 292px;
    width: 400px;
    // padding: 52px 0;
    // box-sizing: border-box;
    // style
    color: $roboBlack;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;

    img {
      // -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
      // -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
      // box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
      opacity: 0.70;
    }

  }

  &-title-alt {
    // struct
    position: absolute;
    right: -100px;
    bottom: -73px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
    height: 146px;
    width: 200px;
    // padding: 52px 0;
    // box-sizing: border-box;
    // style
    color: $roboBlack;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;

    img {
      // -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
      // -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
      // box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
      opacity: 0.70;
    }
  }

  &-title-wrapper {
    // struct
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 50%;
    // style
    // border: white thin solid;
  }
}


@media all and (max-device-width: 650px) {
  .hero-post-wrapper {
    z-index: 800;
    width: 100%;
    max-width: 700px;

    padding: 0 10px;
    box-sizing: border-box;
  }

  .hero-splash {
    z-index: 700;
    // struct
    height: 200px;
    width: 100%;
    position: relative;
    // style
    background: url("../imgs/unt_mall.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-splash-title {
    padding-top: 30px;
    font-size: 30px;
  }
}
