

{{#link-to 'guide' data class="guide-listing"}}

  <i class="fa fa-file-text guide-listing-logo"></i>
  <!-- <div class="guide-listing-est-read-time">
    {{est-read-time content=data.body }}
  </div> -->

  <div class="guide-listing-title">
    {{data.title}}
  </div>

{{/link-to}}
