<div class="post-wrapper">
  <div class="post-content">
    <div class="post-section">
      <h1>{{model.title}}</h1>
      <p>
        Updated: {{moment-format model.updated "MMMM DD, YYYY"}}
        {{est-read-time content=model.body}}
      </p>
    </div>
    <div class="post-section">
      {{markdown-viewer bodyContent=model.body}}
    </div>
  </div>
</div>
