

<div class="hero-splash">
  <div class="hero-splash-overlay">
    <div class="hero-splash-title">
      Constitution
    </div>
  </div>
  <div class="hero-post-wrapper">
    {{constitution-viewer}}
  </div>
</div>
