<div class="hero-splash guides-background">
  <div class="hero-splash-overlay">
    <div class="hero-splash-title">
      Knowledge
    </div>
  </div>
  <div class="hero-post-wrapper">

    <div id="guides-list" class="post-content">
      {{#each model as |post|}}
        {{guide-listing data=post}}
      {{/each}}
    </div>
  </div>
</div>
