
<div class="post-wrapper">
  <div id="guides-list" class="post-content">
    <h1>Guides</h1>
    {{#each model as |post|}}
      <div id="guides-list-item">
        {{#link-to 'guide' post}}
          <i class="fa fa-book"></i>
          {{post.title}}
        {{/link-to}}
      </div>
    {{/each}}
  </div>
</div>
