<div class="hero-splash guides-background">
  <div class="hero-splash-overlay">
    <div class="hero-splash-title">
      Knowledge
    </div>
  </div>
  <div class="hero-post-wrapper">
    <div id="guides-list" class="post-content">
      {{#each model as |post|}}
        <div id="guides-list-item">
          {{#link-to 'guide' post}}
            <i class="fa fa-book"></i>
            {{post.title}}
          {{/link-to}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
