<div class="hero-post-component">
  <div class="hero-post-component-overlay">
    <div class="hero-post-component-title">
      {{title}}
    </div>
  </div>
  <div class="hero-post-component-paper">
    <div class="hero-post-component-content">
      {{yield}}
    </div>
  </div>
</div>
