{{#hero-post title="About"
   backgroundUrl="../imgs/inside_disco_park.jpg"}}
   <h1>Mission Statement</h1>
   <p>
     The purpose of the UNT Robotics Club is to help UNT undergraduates
     and graduates pursue their interest in robotics with a hands-on
     and collaborative experience in designing, building, and
     programming robots.
   </p>

   <h1>What is robotics?</h1>
   <p>
     Robotics is a branch of engineering that involves the
     conception, design, manufacture, and operation of robots.
     This field overlaps with electronics, computer science,
     artificial intelligence, mechatronics, nanotechnology and
     bioengineering.
   </p>
   <p>
     Science-fiction author Isaac Asimov is often given credit for
     being the first person to use the term robotics in a short story
     composed in the 1940s. In the story, Asimov suggested three
     principles to guide the behavior of robots and smart machines.
     Asimov's Three Laws of Robotics, as they are called, have
     survived to the present:
   </p>
   <ol>
     <li>
       Robots must never harm human beings.
     </li>
     <li>
       Robots must follow instructions from humans
       without violating rule 1.
     </li>
     <li>
       Robots must protect themselves without violating
       the other rules.
     </li>
   </ol>
{{/hero-post}}
