<main id="membershipSignup">
  <section>
    <div class="bit-2">
      <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-0/s261x260/12662730_10207172058598281_1626751767386874465_n.jpg?oh=dbb6decd7abcc3549047eb975de0f402&oe=57878D14" alt="" />
    </div>
    <div class="bit-2">
      <form class="signup-form">
        <div class="signup-form-item">
          <label>Name</label>
          {{input placeholder="i.e. John Snow"}}
        </div>
        <div class="signup-form-item">
          <label>EUID</label>
          {{input placeholder="i.e. js0123"}}
        </div>
        <div class="signup-form-item">
          <label>Email</label>
          {{input placeholder="i.e john.snow@thenightswatch.com"}}
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </section>
  <section>
    test
  </section>
  <section>
    test
  </section>

</main>
<footer>

</footer>
