<div class="markdown-viewer-wrapper">
  <div class="markdown-viewer-body">
    {{markdown-to-html markdown=bodyContent
      ghCodeBlocks=true
      tasklists=true
      tables=true
      simplifiedAutoLink=true
      prefixHeaderId=true
    }}
    {{format-markdown bodyContent}}
  </div>
</div>
